@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.video-card{
    margin-bottom: 0.75rem;
    height: 3.75rem;
    display: flex;
    cursor: pointer;

    @include tablet{
        margin-bottom: 1.5rem;
        height: 4.0625rem;
    }

    &__thumbnail{
        object-fit: cover;
        overflow: hidden;
        @include mixins.rounded-corners();
        margin-right: 1rem;
        position: relative;
        flex-shrink: 0;
        width: 6.25rem;
        
        @include tablet{
            width: 6.875rem;    
        }

        /// Broken or missing images will display an empty container with a mercury background
        &::after{
            content: ' ';
            background-color: colors.$secondary-gray;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;    
        }
    }

    &__info{
        @include mixins.flexbox(space-between,$direction: column);
    }

    &__title{
        font-weight: 600;
    }
}