@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins';

.video-card{
    margin-bottom: 0.75rem;
    height: 3.75rem;
    display: flex;

    @include tablet{
        margin-bottom: 1.5rem;
        height: 4.0625rem;
    }

    &__thumbnail{
        object-fit: cover;
        border-radius: 4px;
        margin-right: 1rem;
        flex-shrink: 0;
        width: 6.25rem;
        
        @include tablet{
            width: 6.875rem;    
        }
    }

    &__info{
        @include mixins.flexbox(space-between,$direction: column);
    }

    &__title{
        font-weight: 600;
    }

    &__channel{

    }
}