@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";
@use "../../styles/partials/units";

.upload-page {
    padding: 0 1rem 1rem;
    @include mixins.divider(top);

    @include tablet {
        padding: 0 2.25rem 1.25rem 2.25rem;
    }

    &__content {
        margin: auto;
        max-width: units.$max-width;

        @include desktop {
            flex-wrap: nowrap;
        }
    }

    &__title {
        @include fonts.pageheader;
        margin: 1.5rem 0 1rem;

        @include tablet {
            margin: 2.25rem 0 1.375rem;
        }
    }

    &__success-container {
        text-align: center;
    }

    &__success-image {
        @include mixins.rounded-corners();
        margin: 2rem;
        width: 20rem;
    }

    &__success-message {
        margin: 2rem;
    }
}
