@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.timestamp-label {
    color: colors.$primary-gray;
    position: relative;
    height: 1em;

    &__tooltip {
        color: colors.$primary-white;
        background-color: colors.$secondary-black;
        opacity: 0;
        @include mixins.rounded-corners;
        visibility: none;
        position: absolute;
        left: 0;
        top: -2.5em;
        z-index: 99;
        max-width: 0;
        transition: all 0.4s ease;
    }

    &:hover &__tooltip {
        visibility: visible;
        opacity: 1;
        padding: 0.25rem 0.5rem;
        max-width: 150%;
    }
}
