/// BrainFlix-Black
$primary-black: #323232; 
/// BrainFlix-Blue
$primary-blue: #0095FF;
/// Silver
$primary-gray: $AFAFAF;
/// White
$primary-white: #FFFFFF;
/// BrainFlix-DarkBlack
$secondary-black: #000000;
/// BrainFlix-DarkBlue
$secondary-blue: #0065FF;
/// Mercury
$secondary-gray: #E1E1E1;
/// Alabaster
$secondary-white: #FAFAFA;