$margins-desktop: auto;
$gutters-desktop: 1.5rem;

$margins-tablet: 2.25rem;
$columns-tablet: auto;
$gutters-tablet: 1.5rem;

$margins-mobile: 1rem;
$columns-mobile: auto;
$gutters-mobile: 1rem;

$max-width: 63.75rem;
