@use '../../styles/partials/mixins';

.logo{
    @include mixins.flexbox(center,center);

    &__icon-container{
        background-color: #0095FF;
        border-radius: 0.25rem / 0.5rem;
        position: relative;
        width: 2rem;
        height: 1.5rem;
        
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 0.625rem;
    }

    &__title{
        font-size: 1.0625rem;
        font-weight: 600;
        margin: 0.3125rem 0.5rem 0 0.375rem;
        
    }
}