@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors';
@use '../../styles/partials/fonts';

.next-videos{
    max-width: 19rem;
    
    &__title{
        @include fonts.subheader;
        color: colors.$primary-gray;
        margin-bottom: 0.875rem;

        @include tablet-only{
            margin-bottom: 1.375rem;
        }
    }
}