@use '../../styles/partials/colors';
@use '../../styles/partials/fonts';
@use '../../styles/partials/breakpoints' as *;

.search-bar{
    position: relative;

    &__icon{
        position: absolute;
        top: 50%;
        left: 0.75rem;
        height: 1rem;
        transform: translate(0,-50%);

        @include tablet{
            left: 1rem;
        }
    }

    &__field{
        font-size: 0.75rem;
        background-color: colors.$secondary-white;
        border: 1px solid colors.$secondary-gray;
        border-radius: 4px;
        text-indent: 2rem;
        width: 100%;
        height: 2.25rem;

        @include tablet{
            text-indent: 2.5rem;
            height: 2.5rem;
        }

        &::placeholder{
            color: colors.$secondary-black;
        }
    }
}