@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";
@use "../../styles/partials/units";

.upload-form {
    @include mixins.flexbox($wrap: wrap);
    gap: 1.25rem;

    @include tablet {
        @include mixins.divider(top);
        padding-top: 1.5rem;
    }

    &__thumbnail-row {
        @include mixins.flexbox($direction: column);
        width: 100%;
        max-width: 20.25rem;
    }

    &__fields-row {
        @include mixins.flexbox($direction: column);
        width: 100%;

        @include desktop {
            flex: 41.875rem;
        }
    }

    &__buttons-row {
        @include mixins.flexbox($direction: column);
        width: 100%;

        gap: 1.5rem;
        margin-top: 0.25rem;

        @include tablet {
            @include mixins.divider(top);
            padding: 1.5rem 0;
            flex-direction: row-reverse;
        }

        @include desktop {
            margin-top: 0.5rem;
        }
    }

    &__button-container {
        @include tablet {
            width: 9.75rem;
        }
        @include desktop {
            width: 9.25rem;
        }
    }

    &__label {
        cursor: pointer;
        @include fonts.labelsbuttons;
        color: colors.$primary-gray;
        position: relative;
    }

    &__thumbnail {
        @include mixins.rounded-corners;
        display: block;
        object-fit: cover;
        margin-top: 0.125rem;
        width: 100%;
        height: 10rem;

        @include tablet {
            height: 12rem;
        }

        @include desktop {
            height: auto;
        }
    }

    &__field {
        @include mixins.form-field;
        padding: 0.6875rem;

        &[name="title"] {
            margin-bottom: 1rem;

            @include tablet {
                padding-left: 0.9375rem;
            }

            @include desktop {
                margin-bottom: auto;
            }
        }

        &--textarea {
            padding: 0.6875rem;
            height: 5.5rem;
            resize: none;

            @include tablet {
                padding-left: 1rem;
            }
        }
    }

    &__file-input {
        cursor: pointer;
        color: colors.$primary-white;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
        );
        opacity: 0.5;
        @include mixins.rounded-corners;
        width: 100%;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0rem;
        transition: all 0.2s ease-out;

        &:hover,
        *:hover > & {
            opacity: 1;
        }
    }
}
