@use '../../styles/partials/colors';

.avatar{
    background-color: colors.$secondary-gray;
    object-fit: cover;
    object-position: 20%;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: block;
}