@use './styles/partials/resets';
@use './styles/partials/breakpoints' as *;
@use './styles/partials/fonts';
@use './styles/partials/units';
@use './styles/partials/colors';





body{
    @include fonts.body;
}

.bottom-section{
    padding: 1rem;

    @include tablet{
        padding: 1.75rem 2.25rem 1.75rem 2.375rem;
    }
    
    &__content{
        display: flex;
        flex-wrap: wrap;
        max-width: units.$maxWidth;
        margin: auto;

       > *:first-child {
        @include desktop{
            border-right: 1px solid colors.$secondary-gray;
            max-width: 68.1%;
        }
       }
    }
}