@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins";
@use "../../styles/partials/units";

.bottom-section {
    padding: 0 1rem 1rem;

    @include tablet {
        padding: 0 2.25rem 1.25rem 2.25rem;
    }

    @include desktop {
        padding-bottom: 0;
    }

    &__content {
        margin: auto;

        max-width: units.$max-width;
        @include mixins.flexbox($wrap: wrap);

        @include desktop {
            flex-wrap: nowrap;
        }
    }

    &__container {
        padding-top: 1rem;

        @include tablet {
            padding-top: 1.5rem;
        }

        @include desktop {
            padding-top: 1.875rem;
            padding-bottom: 4rem;
        }

        &--video-details {
            @include desktop {
                @include mixins.divider(right);
                max-width: 68.1%;
            }
        }

        &--next-videos {
            @include mixins.divider(top);
            width: 100%;

            @include desktop {
                border: none;
                padding-left: 1.1875rem;
                width: auto;
            }
        }
    }
}
