@use '../../styles/partials/resets';
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts';
@use '../../styles/partials/units';
@use '../../styles/partials/colors';

.bottom-section{
    padding: 0 1rem 1rem;

    @include tablet{
        padding: 0 2.25rem 1.75rem 2.375rem;
    }
    
    &__content{
        display: flex;
        flex-wrap: wrap;
        max-width: units.$maxWidth;
        margin: auto;

        @include desktop{
            flex-wrap: nowrap;
        }
    }

    &__container{
        padding-top: 1rem;

        @include tablet{
            padding-top: 1.5rem;
        }

        @include desktop{
            padding-top: 1.875rem;
        }

        &--video-details{
            @include desktop{
                border-right: 1px solid colors.$secondary-gray;
                max-width: 68.1%;
            }
        }
        
        &--next-videos{
            @include desktop{
                padding-left: 1.4375rem;
            }
        }
    }
}